
<div id="customer">




  <h2><%= customer.name %></h2>

  <%= image_tag customer.image %>
  <div id='details'>
    <p><span>Phone:</span> <%= customer.phone %> </p>
    <p><span>Email:</span> <%= customer.email %> </p>
    <p><span>Notes:</span> <%= customer.notes %> </p>
  </div>
</div>
